@page
@model Tbites_Restaurant.Pages.Index1Model
@{
    ViewData["Title"] = "Index1";
}

<h1>Index1</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
